<% content_for :button do %>
    <div class="button" data-link="<%= new_project_path %>">
        <i class="fas fa-plus"></i>
    </div>
<% end %>

<div class="grid-center fill-x">
    <div class="grid-center">
        <span class="title">Projects</span>
        <div id="projects-container">
            <% @projects.each do |p| %>
                <a href="project/<%= p.id %>" class="project-button"><%= p.name %></a>
            <% end %>
        </div>
    </div>
</div>