<div id="add-user" class="popup invisible">
    <div class="popup-menu">
        <h2>Add User</h2>
        <form class="form" action="javascript:addUser()" accept-charset="UTF-8" method="post">
            <div class="field">
                <label for="add_email">Email</label>
                <input autofocus="autofocus" type="email" name="add[email]" id="add_email" />
            </div>

            <div class="actions">
                <input type="submit" name="commit" value="Invite" data-disable-with="Invite" />
            </div>
        </form>
    </div>
</div>