<%=	render partial: 'breadcrumbs' %>

<div class="grid-center fill-x">
    <div class="grid-center destroy-confirmation">
        <h2>Are you sure you want to destroy this project?</h2>
        <div class="destroy-buttons">
            <%= link_to 'Destroy', project_path(@project), data: {:confirm => 'Are you sure?'}, :method => :delete %>
            <%= link_to 'Go Back', project_path(@project) %>
        </div>
    </div>
</div>