#projects-container {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 300px;
}

.project-button {
  display: inline-block;
  width: auto;
  max-width: 300px;
  height: auto;
  padding: 5px 25px;
  background-color: lightgray;
  text-align: center;
  line-height: 50px !important;
  font: 1em "Open Sans", Ubuntu, Sans-Serif;
  text-decoration: none;
  user-select: none;
  color: #333333;
  word-break: break-word;
  transition: background-color .1s ease-in;
  border-radius: 5px;
}

.project-button:not(:first-child) {
  margin-top: 15px;
}

.project-button:hover {
  background-color: #b7b7b7;
}