<% if @errors.any? %>
    <div class="error_display">
        <h2>
            <%= pluralize(@errors.count, "error") %>
            detected:
        </h2>

        <ul>
            <% @errors.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>